  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><%= MailMagazine.human_attribute_name "subject" %>%</th>
        <th><%= MailMagazine.human_attribute_name "title" %></th>
        <th><%= MailMagazine.human_attribute_name "reserved_at" %></th>
      </tr>
    </thead>
    <tbody>
      <% @mail_magazine_list.each do |magazine| %>
        <tr>
          <td><%= link_to magazine.subject, magazine %></td>
          <td><%= magazine.reserved_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @mail_magazine_list %>
