<%= form_tag({action: "test_sending"}, {method: :get}) do %>
  email:<%= text_field_tag "target" %><br />
  <%= hidden_field_tag "id", value = @mail_magazine.id %>
  <%= submit_tag 'テスト送信' %>
<% end %>
<hr />
<%= link_to "宛先一覧", [@mail_magazine, :magazine_targets] %> |
<%= link_to "宛先を一件ずつ追加", [:new, @mail_magazine, :magazine_target] %> |
<%= link_to "宛先をCSVで追加", [:target_csv_upload_form, @mail_magazine] %>
<br />
<%= link_to "一覧に戻る", :mail_magazines %> | <%= link_to "編集する", :edit_mail_magazine %>
<table class="table">
  <tr>
    <th><%= MailMagazine.human_attribute_name "subject" %></th>
    <td><%= @mail_magazine.subject %></td>
  </tr>
  <tr>
    <th><%= MailMagazine.human_attribute_name "reserved_at" %></th>
    <td><%= l @mail_magazine.reserved_at, format: :default %></td>
  </tr>
  <tr>
    <th><%= MailMagazine.human_attribute_name "body" %></th>
    <td><%= simple_format @mail_magazine.body %></td>
  </tr>
</table>